<div id="<%= dom_id test_design %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= test_design.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email address:</strong>
    <%= test_design.email_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= test_design.description %>
  </div>
</div>
