<% content_for :title, "New test design" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New test design</h1>

  <%= render "form", test_design: @test_design %>

  <%= link_to "Back to test designs", test_designs_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
